.filter-button {
  float: right;
  position: relative;
  bottom: 7vh;
  right: 5vh;
  font-size: 1.2rem;
}

select {
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: rgba(6, 53, 0, 0.444);
  color: #ffc34f;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-family: 'MedievalSharp';
  font-size: 1.2rem;
  z-index: 0;
}

option:checked,
option:hover {
  color: #ffc34f;
  background: transparent;
}

option {
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: transparent;
}

label {
  border: 1px solid transparent;
}

@media (width < 480px) {
  .filter-button {
    position: relative;
    bottom: 5vh;
  }
}
