button {
  background-color: transparent;
  border: none;
  color: #ffc34f;
  font-family: 'MedievalSharp';
}

.button-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 47vh;
}
