error-page-container {
  background-color: transparent;
  border: none;
  color: #ffc34f;
  text-align: center;
  justify-content: center;
}

.error-title {
  font-size: 4rem;
  text-align: center;
}
