header {
  height: 14vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem;
  img {
    position: relative;
    left: 5vh;
    top: 10px;
  }
}

h1 {
  position: absolute;
  z-index: 0;
  color: transparent;
  top: -999999999999999999999999999999999999px;
}

@media (width < 480px) {
  .container-header-img {
    height: 50px;
    width: 140px;
    top: 10px;
  }

  header {
    img {
      position: relative;
      left: 5vh;
    }
  }
}
