@media (width < 480px) {
  ul {
    display: flex;
    flex-direction: column;
    gap: 8vh;
  }
}

@media (width > 480px) {
  ul {
    display: flex;
    justify-content: space-between;
    margin-inline: 8rem;
    margin-block-start: 4rem;
  }
}

ul {
  list-style: none;
}
