
.button-form {
  background-color: transparent;
  padding: 15px;
  cursor: pointer;
  font-family: 'MedievalSharp', cursive;
  margin-left: 30px;
  color: #ffc34f;
  border-top: 1px solid #ffc34f;
  border-bottom: 1px solid #ffc34f;
  display: flex;
  text-align: center;
  margin-inline: 3rem;
}
button {
  font-family: 'MedievalSharp', cursive;
  margin-left: 20px;
  color: #ffc34f;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 250px;
  background-color: transparent;
}

input {
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  font-family: 'MedievalSharp', cursive;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  margin-left: 30px;
  background-color: #ffc34f;
}
label {
  margin-left: 30px;
}

.name-container {
  display: flex;
  align-items: center;
  border-top: 1px solid #ffc34f;
  border-bottom: 1px solid #ffc34f;
}
.form-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid #ffc34f;
  border-bottom: 1px solid #ffc34f;
  min-width: 850;
  @media (width > 480px) {
    align-items: flex-start;
  }
  input[name='description'] {
    width: 50%;
    height: 80px;
    padding: 10px;
    font-size: 15px;
  }
}
.description-text {
  margin-bottom: 10px;
}
.level-form {
  display: flex;
  align-items: center;
}
.mind-form {
  display: flex;
  align-items: center;
}

.strength-form {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.vigor-form {
  display: flex;
  align-items: center;
}
.description-text {
  display: flex;
  align-items: center;
  min-width: 850px;
}
form {
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
}
.options-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 30rem;
  position: relative;
  min-width: 850px;
  border-radius: 15px;

  @media (max-width: 480px) {
    align-items: flex-start;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  form {
    width: 100%;
    max-width: 600px;
  }

  @media (min-width: 480px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

}
